.main__tables-container{
    display: flex;
    width: 930px;
    margin: 0 auto;
}
.main__currency-table{
    margin-top: 0;
}
.product-card--container{
    /* display: grid;
    grid-template-columns: repeat(2,1fr); */
    display: flex;
    flex-wrap: wrap;
    width: 930px;
    margin: 0 auto;
}
.plans-container--slider{
    justify-content: center;

}